<div class="wrapper">
    <div>
        {{#if msg}}
        <h4>{{msg}}</h4>
        {{/if}}
        <span class="existing">Modèle de marque existant :</span>
        <select>
            {{#each data.modele}}
            <option value="{{this.id_modele}}">{{this.nom_modele}}</option>
            {{/each}}
        </select>
        <form action="{{this.form_action}}" method="POST" id="form">
            <div class="form">
                <span class="err"></span>
                <label for="marque">Marque du véhicule* :</label>
                <select name="marque" class="needed" id="marque">
                    {{#each data.marques}}
                    <option value="{{this.id_marque}}">{{this.nom_marque}}</option>
                    {{/each}}
                </select>
                <label for="modele">Modèle de la marque :</label>
                <input class="needed" type="text" name="modele" id="modele">
                <input type="submit" value="Ajoutez">
                <span class="champs">*champs requis</span>
            </div>
        </form>
    </div>
</div>