<div class="wrapper">
    <section>
        <span>Pièce détachées existante</span>
        <select name="type">
            <option value=""></option>
            {{#each data.pieces_detachees}}
            <option value="{{this.id_p_d}}">{{this.nom_p_d}}</option>
            {{/each}}
        </select>
        <form action="{{this.form_action}}" method="POST">
            <div class="form_add">
                <div class="piece">
                    <label for="namePD">Nom de la pièce détachée :</label>
                    <input type="text" name="namePD">
                    <label for="typePD">Type de pièce détachée</label>
                    <select name="typePD">
                        <option value=""></option>
                        {{#each data.type_p_d}}
                        <option value="{{this.id_type_p_d}}">{{this.nom_type_p_d}}</option>
                        {{/each}}
                    </select>
                    <label for="doc">Document PDF :</label>
                    <input type="file" name="docPD" id="doc">
                    <label for="photo">Photo :</label>
                    <input type="file">
                    <input type="hidden">
                </div>
                <input type="submit" value="Ajoutez">
            </div>
        </form>
    </section>
</div>