<div class="wrapper">
    <section>
        {{#if msg}}
        <h4>{{msg}}</h4>
        {{/if}}
        <span>Pièce détachées existante</span>
        <select name="type">
            <option value=""></option>
            {{#each data.pieces_detachees}}
            <option value="{{this.id_p_d}}">{{this.nom_p_d}}</option>
            {{/each}}
        </select>
        <form action="{{this.form_action}}" method="POST" enctype="multipart/form-data">
            <div class="form">
                <label for="nameV">Nom du véhicule associé</label>
                <select name="nameV">
                    <option value=""></option>
                    {{#each data.Vehicules}}
                    <option value="{{this.id_vehicule}}">{{this.nom_vehicule}}</option>
                    {{/each}}
                </select>
                <label for="namePD">Nom de la pièce détachée :</label>
                <input type="text" name="namePD">
                <label for="stypePD">Type et sous-type de pièce détachée</label>              
                <select name="stypePD">
                    <option value=""></option>
                    {{#each data.sous_type_p_d}}
                    <option value="{{this.id_stype_p_d}}">{{this.nom_type_p_d}} - {{this.nom_stype}}</option>
                    {{/each}}
                </select> 
                <label for="longueur">Longueur :</label>
                <input type="number" name="longueur">
                <label for="largeur">Largeur :</label>
                <input type="number" name="largeur">
                <label for="diametre">Diamètre :</label>
                <input type="number" name="diametre">
                <label for="localisation">Localisation :</label>
                <input type="text" name="localisation">
                <label for="etat">Etat :</label>
                <input type="text" name="etat">
                <label for="photo">Photo :</label>
                <input type="file" name="photo">
                <label for="doc_pdf">Document PDF :</label>
                <input type="file" name="doc_pdf">
                <input type="submit" value="Ajoutez">
            </div>
        </form>
    </section>
</div>