<div class="wrapper">
    <section>
        {{#if msg}}
        <h4>{{msg}}</h4>
        {{/if}}
        <span class="existing">Sous-types de pièces existant :</span>
        <select name="type">
            {{#each data.sous_type_p_d}}
            <option value="{{this.id_stype_p_d}}">{{this.nom_stype}}</option>
            {{/each}}
        </select>
        <form action="{{this.form_action}}" method="POST" id="form">
            <div class="form">
                <span class="err"></span>
                <label for="stype_piece">Sous-type de pièce* :</label>
                <input type="text" name="stype_piece">
                <label for="type_piece">Type de pièce* :</label>
                <select name="type_piece">
                    {{#each data.type_p_d}}
                    <option value="{{this.id_type_p_d}}">{{this.nom_type_p_d}}</option>
                    {{/each}}
                </select>
                <input type="submit" value="Ajoutez">
                <span class="champs">*champs requis</span>
            </div>
        </form>
    </section>
</div>
<script src="js/form.js"></script>