<div class="messages">
    <div class="top-message">
        <span class="existing">Sous type de pièces existants :</span>
        <select name="type">
            {{#each data.sous_type_p_d}}
            <option value="{{this.id_stype_p_d}}">{{this.nom_stype}}</option>
            {{/each}}
        </select>
    </div>
</div>
{{#if msg}}
    <div id="modal">
        <div class="modal-content">
            <svg class="close-modal" xmlns="http://www.w3.org/2000/svg" data-name="Layer 2" viewBox="0 0 32 40"x="0px" y="0px">
                <path d="M4,29a1,1,0,0,1-.707-1.707l24-24a1,1,0,1,1,1.414,1.414l-24,24A1,1,0,0,1,4,29Z" />
                <path d="M28,29a1,1,0,0,1-.707-.293l-24-24A1,1,0,0,1,4.707,3.293l24,24A1,1,0,0,1,28,29Z" />
            </svg>
            <h4>{{msg}}</h4>
        </div>
    </div>     
{{/if}}
<div class="wrapper">
    <div>
        <form action="{{this.form_action}}" method="POST" id="form-add-sous-type">
            <div class="form">
                <label for="stype_piece">Sous-type de pièce* :</label>
                <div class="form-data">
                    <input type="text" name="stype_piece" id="stype_piece">
                    <i class="fas fa-exclamation-circle failure-icon"></i>
                    <i class="far fa-check-circle success-icon"></i>
                    <div class="error"></div>
                </div>
                <label for="type_piece">Type de pièce* :</label>
                <div class="form-data">
                    <select name="type_piece">
                        {{#each data.type_p_d}}
                        <option value="{{this.id_type_p_d}}">{{this.nom_type_p_d}}</option>
                        {{/each}}
                    </select>
                    <i class="fas fa-exclamation-circle failure-icon"></i>
                    <i class="far fa-check-circle success-icon"></i>
                    <div class="error"></div>
                </div>
                <input type="submit" value="Ajouter">
                <span class="champs">*champs requis</span>
            </div>
        </form>
    </div>
    <div>
        <button class="back">
            <div>
                <svg class="btnBack" data-name="Layer 3" viewBox="0 0 64 80" x="0px" y="0px"><path d="M24.73,47.56a2,2,0,0,0,2.83-2.83L14.83,32,27.56,19.27a2,2,0,0,0-2.83-2.83L10.59,30.59a2,2,0,0,0,0,2.83Z"/><path d="M52.14,30H26a2,2,0,0,0,0,4H52.14a2,2,0,0,0,0-4Z"/></svg>
                <span>Retour</span>
            </div>
        </button>
    </div>
</div>
<script src="js/class/FormControl.js" type="module"></script>
<script src="js/form/formAddSousTypePiece.js" type="module"></script>
<script src="js/modal/modalWrapper.js" type="module"></script>