<div class="wrapper">
    <section>
        <span>Sous-types de pièces existant</span>
        <select name="type">
            <option value=""></option>
            {{#each data.sous_type_p_d}}
            <option value="{{this.id_stype_p_d}}">{{this.nom_stype}}</option>
            {{/each}}
        </select>
        <form action="{{this.form_action}}" method="POST">
            <div class="form">
                <label for="stype_piece">Sous-type de pièce</label>
                <input type="text" name="stype_piece">
                <label for="type_piece">Type de pièce</label>
                <select name="type_piece">
                    <option value=""></option>
                    {{#each data.type_p_d}}
                    <option value="{{this.id_type_p_d}}">{{this.nom_type_p_d}}</option>
                    {{/each}}
                </select>
                <input type="hidden">
                <input type="submit" value="Ajoutez">
            </div>
        </form>
    </section>
</div>