<div class="wrapper">
    <section>
        {{#if msg}}
        <h4>{{msg}}</h4>
        {{/if}}
        <span class="existing">Utilisateurs existant :</span>
        <select>
            <option value=""></option>
            {{#each data}}
            <option value="{{this._id}}">{{this.firstName}}</option>
            {{/each}}
        </select>
        <form action="{{this.form_action}}" method="POST" id="formAddUser">
            <div class="form">
                <label for="lastname">Nom :</label>
                <input type="text" name="lastname" value="{{data.name}}">
                <label for="firstname">Prénom :</label>
                <input type="text" name="firstname" value="{{data.firstName}}">
                <label for="username">Pseudo :</label>
                <input type="text" name="username" value="{{data.login}}">
                <label for="password">Mot de passe :</label>
                <input type="password" name="password" value="{{data.mdp}}">
                <!--
                <label for="function">Métier :</label>
                <input type="text" name="function">
                <label for="office">Office :</label>
                <input type="text" name="office">
                <label for="date">Date de naissance :</label>
                <input type="date" name="date">
                <label for="adresse1">Adresse 1 :</label>
                <input type="text" name="adresse1">
                <label for="adresse2">Adresse 2 :</label>
                <input type="text" name="adresse2">
                <label for="cp">Code postal :</label>
                <input type="number" name="cp">
                <label for="city">City :</label>
                <input type="text" name="city">
                <label for="mobile_phone">Numéro de portable :</label>
                <input type="number" name="mobile_phone">
                <label for="home_phone">Numéro fixe :</label>
                <input type="number" name="home_phone">
                -->
                <input type="submit" value="Ajoutez">
            </div>
        </form>
    </section>
</div>