<div class="wrapper">
    <div>
        <div>
            {{#if msg}}
            <h4>{{msg}}</h4>
            {{/if}}
        </div>
        <span class="existing">Utilisateurs existant :</span>
        <select>
            {{#each data}}
            <option value="{{this._id}}">{{this.firstName}}</option>
            {{/each}}
        </select>
        <form action="{{this.form_action}}" method="POST" id="form-user">
            <div class="form">
                <label for="name">Nom* :</label>
                <div class="form-data">
                    <input type="text" name="name" id="userName" value="{{data.name}}">
                    <i class="fas fa-exclamation-circle failure-icon"></i>
                    <i class="far fa-check-circle success-icon"></i>
                    <div class="error"></div>
                </div>

                <label for="firstName">Prénom* :</label>
                <div class="form-data">
                    <input type="text" name="firstName" id="userFirstname" value="{{data.firstName}}">
                    <i class="fas fa-exclamation-circle failure-icon"></i>
                    <i class="far fa-check-circle success-icon"></i>
                    <div class="error"></div>
                </div>

                <label for="login">Pseudo* :</label>
                <div class="form-data">
                    <input type="text" name="login" id="userLogin" value="{{data.login}}">
                    <i class="fas fa-exclamation-circle failure-icon"></i>
                    <i class="far fa-check-circle success-icon"></i>
                    <div class="error"></div>
                </div>

                <label for="mdp">Mot de passe* :</label>
                <div class="form-data">
                    <input type="password" name="mdp" id="userMdp" value="{{data.mdp}}">
                    <i class="fas fa-exclamation-circle failure-icon"></i>
                    <span class="icon-password">
                        <i class="fas fa-eye password-eye"></i>
                    </span>
                    <i class="far fa-check-circle success-icon"></i>
                    <div class="error"></div>
                </div>

                <label for="password-confirm">Confirmation du mot de passe* :</label>
                <div class="form-data">
                    <input type="password" name="password-confirm" id="password-confirm">
                    <i class="fas fa-exclamation-circle failure-icon"></i>
                    <span class="icon-confirm-password">
                        <i class="fas fa-eye confirm-password-eye"></i>
                    </span>
                    <i class="far fa-check-circle success-icon"></i>
                    <div class="error"></div>
                </div>
                <input type="submit" value="Ajouter">
                <span class="champs">*champs requis</span>
            </div>
        </form>
    </div>
</div>
<script src="js/class/FormControl.js" type="module"></script>
<script src="js/form/formUser.js" type="module"></script>