<div class="wrapper">
    <div>
        <div class="form">
            {{#if msg}}
            <h4>{{msg}}</h4>
            {{/if}}
            <span class="existing">Utilisateurs existant :</span>
            <select>
                {{#each data}}
                <option value="{{this._id}}">{{this.firstName}} {{this.name}}</option>
                {{/each}}
            </select>
        </div>
        <form action="{{this.form_action}}" method="POST" id="form-user">
            <div class="form">
                <label for="name">Nom* :</label>
                <div class="form-data">
                    <input type="text" name="name" id="userName" value="{{data.name}}">
                    <i class="fas fa-exclamation-circle failure-icon"></i>
                    <i class="far fa-check-circle success-icon"></i>
                    <div class="error"></div>
                </div>

                <label for="firstName">Prénom* :</label>
                <div class="form-data">
                    <input type="text" name="firstName" id="userFirstname" value="{{data.firstName}}">
                    <i class="fas fa-exclamation-circle failure-icon"></i>
                    <i class="far fa-check-circle success-icon"></i>
                    <div class="error"></div>
                </div>

                <label for="login">Pseudo* :</label>
                <div class="form-data">
                    <input type="text" name="login" id="userLogin" value="{{data.login}}">
                    <i class="fas fa-exclamation-circle failure-icon"></i>
                    <i class="far fa-check-circle success-icon"></i>
                    <div class="error"></div>
                </div>

                <label for="mdp">Mot de passe* :</label>
                <div class="form-data">
                    <input type="password" name="mdp" id="userMdp" value="{{data.mdp}}">
                    <i class="fas fa-exclamation-circle failure-icon"></i>
                    <span class="icon-password">
                        <i class="fas fa-eye password-eye"></i>
                    </span>
                    <i class="far fa-check-circle success-icon"></i>
                    <div class="error"></div>
                </div>

                <label for="password-confirm">Confirmation du mot de passe* :</label>
                <div class="form-data">
                    <input type="password" name="password-confirm" id="password-confirm">
                    <i class="fas fa-exclamation-circle failure-icon"></i>
                    <span class="icon-confirm-password">
                        <i class="fas fa-eye confirm-password-eye"></i>
                    </span>
                    <i class="far fa-check-circle success-icon"></i>
                    <div class="error"></div>
                </div>
                <input type="submit" value="Ajouter">
                <span class="champs">*champs requis</span>
            </div>
        </form>
    </div>
    <div>
        <button class="back">
            <div>
                <svg class="btnBack" data-name="Layer 3" viewBox="0 0 64 80" x="0px" y="0px"><path d="M24.73,47.56a2,2,0,0,0,2.83-2.83L14.83,32,27.56,19.27a2,2,0,0,0-2.83-2.83L10.59,30.59a2,2,0,0,0,0,2.83Z"/><path d="M52.14,30H26a2,2,0,0,0,0,4H52.14a2,2,0,0,0,0-4Z"/></svg>
                <span>Retour</span>
            </div>
        </button>
    </div>
</div>
<script src="js/class/FormControl.js" type="module"></script>
<script src="js/form/formAddUser.js" type="module"></script>