<div class="wrapper">
    <div>
        <div>
            {{#if msg}}
            <h4>{{msg}}</h4>
            {{/if}}
        </div>
        <form action="{{this.form_action}}" method="POST" id="form">
            <div class="form">
                <label for="nameV">Nom du véhicule* :</label>
                <input type="text" name="nameV" id="nameV">
                <label for="dateMEC">Date de mise en circulation :</label>
                <input type="date" name="dateMEC" id="dateMEC">
                <label for="typeV">Type de véhicule* :</label>
                <select name="typeV" id="typeV">
                    {{#each data.type_vehicule}}
                    <option value="{{this.id_type_vehicule}}">{{this.nom_type_vehicule}}</option>
                    {{/each}}
                </select>
                <label for="modeleV">Modèle du véhicule* :</label>
                <select name="modeleV" id="modeleV">
                    {{#each data.modele}}
                    <option value="{{this.id_modele}}">{{this.nom_marque}} - {{this.nom_modele}}</option>
                    {{/each}}
                </select>
                <input type="submit" value="Ajouter">
                <span class="champs">*champs requis</span>
            </div>
        </form>
    </div>
</div>
<script src="js/form.js"></script>