<div class="wrapper">
    <section>
        {{#if msg}}
        <h4>{{msg}}</h4>
        {{/if}}
        <form action="{{this.form_action}}" method="POST">
            <div class="form">
                <label for="nameV">Nom du véhicule :</label>
                <input type="text" name="nameV">
                <label for="dateMEC">Date de mise en circulation :</label>
                <input type="date" name="dateMEC">
                <label for="typeV">Type de véhicule :</label>
                <select name="typeV">
                    <option value=""></option>
                    {{#each data.type_vehicule}}
                    <option value="{{this.id_type_vehicule}}">{{this.nom_type_vehicule}}</option>
                    {{/each}}
                </select>
                <label for="marque">Modele du véhicule :</label>
                <select name="modeleV">
                    <option value=""></option>
                    {{#each data.modele}}
                    <option value="{{this.id_modele}}">{{this.nom_modele}}</option>
                    {{/each}}
                </select>
                <input type="submit" value="Ajoutez">
            </div>
        </form>
    </section>
</div>
