<div class="container">
    <div class="form">
        {{#if msg}}
        <h4>{{msg}}</h4>
        {{/if}}
    </div>
    <div>       
        <form action="{{this.form_action}}" method="POST" id="form-reset-password">
            <div class="form">
                <input type="hidden" name="id" value="{{payload}}">
                <input type="hidden" name="token" value="{{token}}">
                <label for="reset-pwd">Nouveau mot de passe* :</label>
                <div class="form-data">
                    <input type="password" name="reset_pwd" id="reset-pwd">
                    <i class="fas fa-exclamation-circle failure-icon"></i>
                    <span class="icon-password">
                        <i class="fas fa-eye password-eye"></i>
                    </span>
                    <i class="far fa-check-circle success-icon"></i>
                    <div class="error"></div>
                </div>

                <label for="password-confirm">Confirmation du mot de passe* :</label>
                <div class="form-data">
                    <input type="password" name="reset_pwd_confirm" id="reset-pwd-confirm">
                    <i class="fas fa-exclamation-circle failure-icon"></i>
                    <span class="icon-confirm-password">
                        <i class="fas fa-eye confirm-password-eye"></i>
                    </span>
                    <i class="far fa-check-circle success-icon"></i>
                    <div class="error"></div>
                </div>
                <input type="email" name="mail" id="mail">
                <input type="hidden" value="{{data._id}}" name="_id">
                <input type="submit" value="Envoyer">
                 <span class="champs">*champs requis</span>
            </div>
        </form>
    </div>
</div>
<script src="js/class/FormControl.js" type="module"></script>
<script src="js/form/formPassword.js" type="module"></script>