<div class="wrapper">
    <div>
        <form action="{{form_action}}" method="POST">
            <div class="form">
                <label for="nameV">Nom du véhicule :</label>
                <input type="text" name="nameV" id="nameV" value="{{data.nom_vehicule}}">
                <label for="dateMEC">Date de mise en circulation :</label>
                <input type="date" name="dateMEC" id="dateMEC" value="{{data.date_mise_circulation}}">
                <label for="typeV">Type de véhicule :</label>
                <select name="typeV" id="typeV">
                    {{#each datas.type_vehicule}}
                    {{#compare this.id_type_vehicule ../data.id_type_vehicule operator="=="}}
                    <option value="{{this.id_type_vehicule}}" selected>{{this.nom_type_vehicule}}</option>
                    {{else}}
                    <option value="{{this.id_type_vehicule}}">{{this.nom_type_vehicule}}</option>
                    {{/compare}}
                    {{/each}}
                </select>
                <label for="modeleV">Modèle du véhicule :</label>
                <select name="modeleV" id="modeleV">
                    {{#each datas.modele}}
                    {{#compare this.id_modele ../data.id_modele operator="=="}}
                    <option value="{{this.id_modele}}" selected>{{this.nom_marque}} - {{this.nom_modele}}</option>
                    {{else}}
                    <option value="{{this.id_modele}}">{{this.nom_marque}} - {{this.nom_modele}}</option>
                    {{/compare}}
                    {{/each}}
                </select>
                <input type="hidden" name="id" value="{{data.id_vehicule}}">
                <input type="submit" value="Modifiez">
            </div>
        </form>
    </div>
</div>