<div class="wrapper">
    <section>
        {{#if msg}}
        <h4>{{msg}}</h4>
        {{/if}}
        <span class="error-file"></span>
        <form action="{{this.form_action}}" method="POST" enctype="multipart/form-data" id="form">
            <div class="form">
                <label for="nameV">Nom du véhicule associé :</label>
                <select name="nameV">
                    <option value=""></option>
                    {{#each datas.Vehicules}}
                    {{#compare this.id_vehicule ../data.id_vehicule operator="=="}}
                    <option value="{{this.id_vehicule}}" selected>{{this.nom_vehicule}}</option>
                    {{else}}
                    <option value="{{this.id_vehicule}}">{{this.nom_vehicule}}</option>
                    {{/compare}}
                    {{/each}}
                </select>
                <label for="namePD">Nom de la pièce détachée :</label>
                <input type="text" name="namePD" value="{{data.nom_p_d}}">
                <label for="stypePD">Type et sous-type de pièce détachée :</label>
                <select name="stypePD">
                    <option value=""></option>
                    {{#each datas.sous_type_p_d}}
                    {{#compare this.id_stype_p_d ../data.id_stype_p_d operator="=="}}
                    <option value="{{this.id_stype_p_d}}" selected>{{this.nom_type_p_d}} - {{this.nom_stype}}</option>
                    {{else}}
                    <option value="{{this.id_stype_p_d}}">{{this.nom_type_p_d}} - {{this.nom_stype}}</option>
                    {{/compare}}
                    {{/each}}
                </select>
                <label for="longueur">Longueur :</label>
                <input type="number" name="longueur" value="{{data.longueur}}">
                <label for="largeur">Largeur :</label>
                <input type="number" name="largeur" value="{{data.largeur}}">
                <label for="diametre">Diamètre :</label>
                <input type="number" name="diametre" value="{{data.diametre}}">
                <label for="localisation">Localisation :</label>
                <input type="text" name="localisation" value="{{data.localisation}}">
                <label for="etat">Etat :</label>
                <input type="text" name="etat" value="{{data.etat}}">
                <label for="photo">Photo :</label>
                <input type="file" name="photo" class="photo">
                <input type="hidden" name="photo" value="{{data.photo}}">
                <label for="doc_pdf">Document PDF :</label>
                <input type="file" name="doc_pdf" class="doc">
                <input type="hidden" name="doc_pdf" value="{{data.doc_pdf}}">
                <input type="hidden" name="id" value="{{data.id_p_d}}">
                <input type="submit" value="Modifiez">
            </div>
        </form>
    </section>
</div>