<div class="wrapper">
    <div>
        <form action="{{this.form_action}}" method="POST" enctype="multipart/form-data">
            <div class="form">
                <label for="type_vehicule">Type de véhicule :</label>
                <input type="text" name="type_vehicule" id="type_vehicule" value="{{data.nom_type_vehicule}}">
                <label for="doc_pdf">Doc du type de véhicule :</label>
                <input type="file" name="doc_pdf" id="doc_pdf" value="{{data.doc_pdf}}">
                <input type="hidden" name="doc_pdf" value="{{data.doc_pdf}}">
                <input type="hidden" name="id" value="{{data.id_type_vehicule}}">
                <input type="submit" value="Modifier">
            </div>
        </form>
    </div>
</div>