<div class="wrapper">
    <div>
        <form action="{{this.form_action}}" method="POST">
            <div class="form">
                <label for="soustypePD">Sous-type de pièce détachée :</label>
                <input type="text" name="soustypePD" id="soustypePD" value="{{data.nom_stype}}">
                <label for="typePD">Type de pièce détachée :</label>
                <select name="typePD" id="typePD">
                    {{#each datas.type_p_d}}
                    {{#compare this.id_type_p_d ../data.id_type_p_d operator="=="}}
                    <option value="{{this.id_type_p_d}}" selected>{{this.nom_type_p_d}}</option>
                    {{else}}
                    <option value="{{this.id_type_p_d}}">{{this.nom_type_p_d}}</option>
                    {{/compare}}
                    {{/each}}
                </select>
                <input type="hidden" name="id" value="{{data.id_stype_p_d}}">
                <input type="submit" value="Modifier">
            </div>
        </form>
    </div>
    <div>
        <button class="back">
            <div>
                <svg class="btnBack" data-name="Layer 3" viewBox="0 0 64 80" x="0px" y="0px"><path d="M24.73,47.56a2,2,0,0,0,2.83-2.83L14.83,32,27.56,19.27a2,2,0,0,0-2.83-2.83L10.59,30.59a2,2,0,0,0,0,2.83Z"/><path d="M52.14,30H26a2,2,0,0,0,0,4H52.14a2,2,0,0,0,0-4Z"/></svg>
                <span>Retour</span>
            </div>
        </button>
    </div>
</div>