<div class="wrapper">
    <section>
        {{#if msg}}
        <h4>{{msg}}</h4>
        {{/if}}
        <span class="existing">Utilisateurs existant :</span>
        <select>
            <option value=""></option>
            {{#each data}}
            <option value="{{this._id}}">{{this.firstName}}</option>
            {{/each}}
        </select>
        <form action="{{this.form_action}}" method="POST" id="formAddUser">
            <div class="form">
                <label for="lastname">Nom :</label>
                <input type="text" name="lastname" value="{{data.name}}">
                <label for="firstname">Prénom :</label>
                <input type="text" name="firstname" value="{{data.firstName}}">
                <label for="username">Pseudo :</label>
                <input type="text" name="username" value="{{data.login}}">
                <label for="password">Mot de passe :</label>
                <input type="password" name="password" value="{{data.mdp}}">
                <input type="hidden" value={{data._id}}>
                <input type="submit" value="Modifiez">
            </div>
        </form>
    </section>
</div>