<div class="wrapper">
    <section>
        {{#if msg}}
        <h4>{{msg}}</h4>
        {{/if}}
        <form action="{{form_action}}" method="POST">
            <div class="form">
                <label for="nameV">Nom du véhicule :</label>
                <input type="text" name="nameV" value="{{data.nom_vehicule}}">
                <label for="dateMEC">Date de mise en circulation :</label>
                <input type="date" name="dateMEC" value="{{data.date_mise_circulation}}">
                <label for="typeV">Type de véhicule :</label>
                <select name="typeV">
                    <option value=""></option>
                    {{#each data.type_vehicule}}
                    <option value="{{data.id_type_vehicule}}">{{nom_type_vehicule}}</option>
                    {{/each}}
                </select>
                <label for="marque">Marque du véhicule :</label>
                <select name="marqueV">
                    <option value=""></option>
                    {{#each data.marques}}
                    <option value="{{data.id_marque}}">{{nom_marque}}</option>
                    {{/each}}
                </select>
                <input type="submit" value="Modifier">
            </div>
        </form>
    </section>
</div>