<div class="wrap">
    <div>
        {{#if msg}}
        <h3>{{msg}}</h3>
        {{/if}}
        <table id="stock">
            <thead>
                <tr>
                    <th>Nom du véhicule</th>
                    <th>Date mise en circulation</th>
                    <th>Marque du véhicule</th>
                    <th>Modèle</th>
                    <th>Type de véhicule</th>
                    <th>Doc véhicule</th>
                    <th>Edition</th>
                </tr>
            </thead>
            <tbody>
                {{#each data.Vehicules}}
                <tr>
                    <td><div class="printResp" data-label="Nom du véhicule"></div><div>{{this.nom_vehicule}}</div></td>
                    <td><div class="printResp" data-label="Mise en circulation"></div><div class="date">{{this.date_mise_circulation}}</div></td>
                    <td><div class="printResp" data-label="Marque du véhicule"></div><div>{{this.nom_marque}}</div></td>
                    <td><div class="printResp" data-label="Modèle"></div><div>{{this.nom_modele}}</div></td>
                    <td><div class="printResp" data-label="Type de véhicule"></div><div class="vehicule">{{this.nom_type_vehicule}}</div></td>
                    <td><div class="printResp" data-label="Doc véhicule"></div><div><a href="data/uploads/{{this.doc_pdf}}" target="_blank">{{this.doc_pdf}}</a></div></td>
                    <td>
                        <div class="printResp" data-label="Edition"></div>
                        <div>
                            <span>
                                <a href="/formEditVehicule?id={{this.id_vehicule}}"><svg class="edit" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 95 95" style="enable-background:new 0 0 95 95" xml:space="preserve"><path d="m11.089 63.472 46.88-46.88 20.506 20.505-46.88 46.881zM61.767 12.705 74.495-.022 95 20.484 82.273 33.21zM5.6 68.9 0 95l26.1-5.6 1.6-1.6L7.2 67.3z"/></svg></a>
                                <a href="/formDeleteVehicule?id={{this.id_vehicule}}"><svg class="delete" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 26 26" style="enable-background:new 0 0 26 26" xml:space="preserve"><path d="M1 26c-.6 0-1-.4-1-1 0-.3.1-.5.3-.7l24-24c.4-.4 1-.4 1.4 0s.4 1 0 1.4l-24 24c-.2.2-.4.3-.7.3z"/><path d="M25 26c-.3 0-.5-.1-.7-.3l-24-24C-.1 1.3-.1.7.3.3c.4-.4 1-.4 1.4 0l24 24c.4.4.4 1 0 1.4-.2.2-.4.3-.7.3z"/></svg></a>
                            </span>
                        </div>
                    </td>
                </tr>
                {{/each}}
            </tbody>
        </table>
    </div>
</div>
<script src="js/stock.js"></script>